@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-Light.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./font/TTLakes-DemiBold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #EFF6FF;
    color: #1B1C21;
    font-family: "TTLakes", sans-serif;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    padding: 0 16px;
}

.header {
    background: #fff;
    border-bottom: 1px solid #EAEAEA;
}

.header__inner {
    height: 88px;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: nowrap;
}

.header__logo-link {
    display: inline-flex;
    align-items: center;
}

.header__logo {
    height: 32px;
    display: block;
}

.header__divider {
    width: 2px;
    height: 32px;
    background: #EAEAEA;
    flex-shrink: 0;
    display: block;
}
.header__actions {
    display: flex;
    gap: 16px;
    margin-left: auto;
    flex-shrink: 0;
}

.icon-btn {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.icon-btn--pink {
    background: #FF3E79;
}

.icon {
    width: 28px;
    height: 28px;
    display: block;
}

.main {
    background: #F8F8F8;
}

.services {
    padding-top: 24px;
}

.services__head {
    display: flex;
    align-items: center;
    gap: 12px;
}

.services__bar{
    width: 4px;
    height: 32px;
    background: #41F6D7;
    border-radius: 2px;
    flex: 0 0 auto;
    margin-left: -16px;
}

.services__title {
    margin-top: 20px;
    font-size: 28px;
    line-height: 32px;
    color: #1B1C21;
    font-weight: 700;
}


.services__tabs {
    margin-top: 24px;
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding-bottom: 8px;
    scrollbar-width: none;
    font-weight: 500;
}

.services__tabs::-webkit-scrollbar {
    display: none;
}

.services__tab {
    flex: 0 0 auto;
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
    white-space: nowrap;
    border: 2px solid transparent;
    background: transparent;
    text-decoration: none;
}

.services__tab--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    color: #7E7E82;
}

.services__tab:focus-visible {
  background: #FFFFFF;
  border-color: #B8FFEC;
  outline: none;
}

.services__text {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 18px;
    color: #1B1C21;
}

.services__more {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 24px;
    font-size: 16px;
    color: #1B1C21;
    cursor: pointer;
    font-weight: 500;
}

.services__more:focus {
    outline: none;
}

.services__more-icon {
    width: 16px;
    height: 16px;
    display: block;
}

.services__image {
    overflow: hidden;
    border-radius: 12px;
    margin-top: 20px;
}

.services__image img {
    width: 100%;
    height: auto;
    display: block;
}

